{% extends "base.html" %}

{% block section %}
<article data-theme="dark">
    <table>
    <div class = "h1">    
    <h2>COMPRA DE CRIPTOS</h2>
    </div>
    <form action="/purchase" method="post">
            {{ form.csrf_token }}

        <div class="grid">
            <div class="moneda_from">
            {{ form.moneda_from.label }}
            {{ form.moneda_from }}        
            {% if form.moneda_from.errors %}
                {% for error in form.moneda_from.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endif %}
            </div>
            
            <div class="moneda_to">
            {{ form.moneda_to.label }}
            {{ form.moneda_to }}
            {% if form.moneda_to.errors %}
                {% for error in form.moneda_to.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endif %}
            </div>
        </div>

        <div class="grid"> 
            <div class="quantity_from" >
            {{ form.cantidad_from.label }}
            {{ form.cantidad_from }}
            {% if form.cantidad_from.errors %}
                {% for error in form.cantidad_from.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endif %}
            </div> 
        

            <div class="quantity_to">
                <label for="cantidad_to">Q: </label>
                <p class="paper-label"> {{ cantidad_to }}</p>
            </div>
        </div>
       
        <div class = "boton-consultar">
        <a href="consultar">
            <span class="material-symbols-outlined">
                {{ form.consultar}} 
                </span>
            </a>
        </div>
       
        
        <div class="grid">
            <div class="p.u">
            <label for="precio_unitario">P.U: </label>
            <p class="paper-label"> {{PU}}</p>
            
            </div>

        <div class="boton-cancelar-compra">
            <span class="material-symbols-outlined">
                {{form.borrar }}
                </span>
                
            </div>
            
            <div class = "boton-comprar">
            <a href="comprar">
                <span class="material-symbols-outlined">
                    
                {{ form.aceptar }}
                </span>
            </a>
                
        </div>

    
           
           
     
    </form>
    </table>
</article>

{% endblock %}