header, footer {
    background-color: var(--primary);
    color: var(--primary-inverse);
    font-size: 1.4em;
    font-weight: bold;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 10px 1fr auto;
    margin: 0;
}

p.error {
    color: red;
    font-weight: bold;
    font-size: 0,8em;
}

.lista-vacia{
  color: red;
  font-weight: bold;
  font-size: 0,8em;

}

.h2 {
    text-align: center;
}


.number {
  text-align: right;
}

.return {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.grid {
    display: flex;
    justify-content:space-between;
    padding: 2 1rem;
    max-width: 800px;
    gap: 15em;
    
  }

  .moneda_from {
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
  
  }
  
  .moneda_to {
    color:aliceblue;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
  }
  
  .quantity_from {
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
  }  

  .quantity_to {
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
    
    
    
  }

  .pu {
    color: aliceblue;
    display:flex;
    text-align: right;
    height: 100%;
    justify-content: end;
    gap: 10px;
    margin-left: 600px;
    margin-top: 15px;
  
  }


.boton_status {
  display: inline-block;
  height: 45px;
  padding: 0;
  vertical-align: top;
  width: 80px;
  margin-left: -250;
  margin-top: 100;
}

.cruz_añadir {
  display: inline-block;
  height: 45px;
  padding: 0;
  margin-right: 0;
  width: 100px;
  margin-left: 920px;
}

.boton-cancelar-compra {
  display: inline-block;
  height: 60px;
  padding: 0;
  vertical-align: top;
  width: 60px;
  margin-left: -300;
  margin-top: 100;

}

.boton-comprar {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  




.boton_volver {
  display: inline-block;
  height: 45px;
  padding: 0;
  margin-right: 0;
  width: 100px;
  margin-left: 350;
  margin-top: 50;
  
}


.boton-consultar {
  display: inline-block;
  height: 65px;
  padding: 0;
  margin-right: 0;
  width: 125px;
  margin-left: 325;
  margin-top: -80;

}


.lista-errores {
  background-color: rgba(200, 0, 0, .25);
  color: red;
  border: solid 2px darkred;
  font-weight: bold;
  font-size: 0,8em;
    

}

#ganancia {
  color: green;
}

#perdida {
  color: red
}

#igual {
  color: orange;
}